#Women Open Leaderboard 
/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/WomenOpenLeaderboard.csv
Capstone/Galvanize_Capstone_Crossfit/Data/WomenOpenLeaderboard.csv
WomenOpenLeaderboard.csv

#Men Open Leaderboard 
/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/MenOpenLeaderboard.csv
Capstone/Galvanize_Capstone_Crossfit/Data/MenOpenLeaderboard.csv
MenOpenLeaderboard.csv

#Women Benchmarks 
/Users/cdmoseley/dai_files/Capstone/Data/WomenBenchmarks.csv
Capstone/Data/WomenBenchmarks.csv
WomenBenchmarks.csv

#Men Benchmarks 
/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/MenBenchmarks.csv
Capstone/Galvanize_Capstone_Crossfit/Data/MenBenchmarks.csv
MenBenchmarks.csv

#Men Past Open 
/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/MenPastOpen.csv
Capstone/Galvanize_Capstone_Crossfit/Data/MenPastOpen.csv
MenPastOpen.csv

#Women Past Open 
/Users/cdmoseley/dai_files/Capstone/Galvanize_Capstone_Crossfit/Data/WomenPastOpen.csv
Capstone/Galvanize_Capstone_Crossfit/Data/WomenPastOpen.csv
WomenPastOpen.csv
