#Female Open Leaderboard 
/Users/cdmoseley/dai_files/Capstone/Data/FemaleOpenLeaderboard.csv
Capstone/Data/FemaleOpenLeaderboard.csv
FemaleOpenLeaderboard.csv

#Male Open Leaderboard 
/Users/cdmoseley/dai_files/Capstone/Data/MaleOpenLeaderboard.csv
Capstone/Data/MaleOpenLeaderboard.csv
MaleOpenLeaderboard.csv

#Women Benchmarks 
/Users/cdmoseley/dai_files/Capstone/Data/WomenBenchmarks.csv
Capstone/Data/WomenBenchmarks.csv
WomenBenchmarks.csv